dummy-project/src/main/mule/dummy-project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="22e46aec-bdc6-4d14-9fc5-c5889463a9f6" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="dummy-projectFlow" doc:id="3b91066e-d9b7-4f01-bc9e-ed357a0627fd" >
		<http:listener doc:name="Listener" doc:id="25e305d6-b372-4541-8cf8-43b3b1de7267" config-ref="HTTP_Listener_config" path="/dummy"/>
		<set-payload value='#["Hi Dummy"]' doc:name="Set Payload" doc:id="68419f3c-2731-4d5b-bce5-eab98da6f8a1" />
	</flow>
</mule>
